
@font-face{
  font-family: bebas neue;
  src: url("https://raw.githubusercontent.com/dhoniaridho/portfolio.com/main/assets/fonts/BebasNeue-Regular.woff")
}
nav{
  z-index: 20;
}
.bg-custom{
  transition: 750ms ease-out;
background: rgba(255, 255, 255, 0);

}
.bg-custom.scrolled{
  background-color:rgb(0, 18, 53);
}

html {
  scroll-behavior: smooth;
}
.masthead {
  background-image: url("https://raw.githubusercontent.com/dhoniaridho/ahmadridhoni.github.io/main/assets/img/me.jpg");
  height: 100vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  
}
.darkness{
    color:rgb(206, 206, 206);
    text-shadow: 4px 4px 4px rgb(0, 23, 39);
    font-size: 3vh;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.judul{
  color:rgb(0, 217, 255);
  text-shadow: 4px 4px 4px black;
  font-size: 12vh;
  font-family: Bebas Neue;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
.type{
  font-size: 18px;
  display: inline;
  font-family: 'Poppins', sans-serif;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 112%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ourservice{
  text-align: center;
  padding-top: 2rem;
  font-size: 5vh;
}
#cardservice{
  box-shadow: 4px 4px 10px;
}
.carouselgallery{
  margin: 20px;
}
.title{
  font-size: 8vh;
  text-align: center;
  margin: 2rem 1rem;
  font-family: 'Bebas Neue', cursive;
}
.cardservice{
  box-shadow: 3px 3px 10px black;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

img {
  width: 100%; /* need to overwrite inline dimensions */
  height: auto;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}


/* hover styles */
.location-listing {
  text-decoration: none;
  position: relative;
}

.location-image {
  line-height: 0;
  overflow: hidden;
}

.location-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.location-title {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  background: rgba(14, 14, 14, 0.4);
  color: white;
  text-align: center;
  
  /* position the text in t’ middle*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-listing:hover .location-title {
  opacity: 1;
}

.location-listing:hover .location-image img {
  filter: blur(2px);
}


/* for touch screen devices */
@media (hover: none) { 
  .location-title {
    opacity: 1;
  }
  .location-image img {
    filter: blur(2px);
  }
}

.gallery{
  margin:5vh;
}


.progress-title{
  font-size: 18px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  margin: 0 0 25px;
}
.progress{
  height: 10px;
  background: #e9e9ea;
  border-radius: 15px;
  margin-bottom: 30px;
  overflow: visible;
  position: relative;
}
.progress:before,
.progress:after{
  content: " ";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: -5px;
  left: 0;
  z-index: 1;
}
.progress:after{
  border: 7px solid #e9e9ea;
  left: auto;
  right: 0;
}
.progress .progress-bar{
  box-shadow: none;
  border: none;
  border-radius: 15px;
  position: relative;
  -webkit-animation: animate-positive 5s;
  animation: animate-positive 5s;
}
.progress .progress-value{
  width: 70px;
  height: 35px;
  line-height: 27px;
  border-radius: 20px;
  background: #fff;
  font-size: 17px;
  font-weight: 600;
  position: absolute;
  top: -12px;
  right: 0;
  z-index: 2;
}
.progress.orange:before{ border: 7px solid #fe3b3b; }
.progress.blue:before{ border: 7px solid #1a4966; }
.progress.green:before{ border: 7px solid #53aa2c; }
.progress.purple:before{ border: 7px solid #66406f; }
.progress.orange .progress-value{
  border: 5px solid #fe3b3b;
  color: #fe3b3b;
}
.progress.blue .progress-value{
  border: 5px solid #1a4966;
  color: #1a4966;
}
.progress.green .progress-value{
  border: 5px solid #53aa2c;
  color: #53aa2c;
}
.progress.purple .progress-value{
  border: 5px solid #66406f;
  color: #66406f;
}
@-webkit-keyframes animate-positive{
  0%{ width: 0; }
}
@keyframes animate-positive{
  0%{ width: 0; }
}

.skillbar{
  margin:20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin-top: 100px;
  text-align: center;
  font-family: arial;
}


button{
  border: none;
  background-color: transparent;
}




button:hover, a:hover {
  opacity: 0.7;
}


.software{
  margin: auto;
  padding:50px; 
}
